<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mySqlImpl" class="com.zeng.dao.UserDaoMySqlImpl" />
    <bean id="DaoImpl" class="com.zeng.dao.UserDaoImpl"/>
    <bean id="UserServiceImpl" class="com.zeng.Service.UserServiceImpl">
        <property name="userDao" ref="mySqlImpl"/>
        <!--ref:引用Spring容器中创建好的对象-->
    </bean>
</beans>